{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xl-10 col-lg-11 col-md-12">
        <div class="card">
            <h5 class="card-header"><i class="fab fa-wpforms"></i> {{ title }} Form</h5>
            <div class="card-body">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if form.image == field %}
                            <div class="input-group mb-1">
                                <div class="input-group-prepend" style="height: 35px;">
                                    <span class="input-group-text" id="inputGroupFileAddon01">{{ field.label_tag }}</span>
                                </div>
                                <div class="custom-file">
                                    {{ field }}
                                    <label class="custom-file-label" for="upload">Choose file</label>
                                </div>
                            </div>
                        {% else %}
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ field.label_tag }}</span>
                                </div>
                                {{ field }}
                                <span class="small" style="position:absolute;right:5px;">{{ field.help_text }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-info button"><i class="fas fa-angle-right"></i> {{ title }} <i class="fas fa-angle-left"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    // AJAX
    const path = window.location.pathname
    const url = path.split('/')[3]
    if(url!=="update"){
        $('select[name=subcontractor]').empty()
        $('select[name=subcontractor]').append('<option>Seçiniz</option>')
    }
    $("select[name=worksite]").change(()=>{
        $('select[name=subcontractor]').empty()
        $('select[name=subcontractor]').append('<option>Seçiniz</option>')
        $('form').append('<input type="hidden" name="type" value="sub_select" />')
        const form_serialize = $('form').serialize()
        $.ajax({
            url: '/ajax/',
            method: 'POST',
            data: form_serialize,
            type: 'json',
            success: (result)=>{
                sub = JSON.parse(result.sub)
                $.each(sub, function(key, value){
                    $('select[name=subcontractor]').append('<option value="'+value.pk+'">'+value.fields.name+'</option>');
                });
            }
        })
    })
</script>
{% endblock %}