{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xl-8 col-lg-11 col-md-12">
        <div class="card">
            <h5 class="card-header"><i class="fab fa-wpforms"></i> {{ title }} Liste </h5>
            <div class="card-body">
                <div class="tab_list" style="background:#eee;">
                    <form method="post" class="reports">
                        {% csrf_token %}
                        <select name="worksite" style="height: 40px;">
                                <option>---------</option>
                            {% for worksite in worksites %}
                                    <option value="{{ worksite.pk }}">{{ worksite }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    <!-- AJAX İLE YÜKLENİYOR -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script>

    // AJAX
    $("select[name=worksite]").change(()=>{
        let form_serialize = $('form').serialize()
        let reports = "";
        $('.tab_title').remove()
        $.ajax({
            url: '/document/report/daily/list/',
            method: 'POST',
            data: form_serialize,
            type: 'json',
            success: (result)=>{
                result = JSON.parse(result)
                for(let x=0; x<result.length; x++){
                    reports += `<h6 class="tab_title" style="border-bottom:solid 1px #ccc;"> ${result[x].fields.date}
                        <div class="tab_content">`;
                        for(let i=0;i<result[x].fields.production.split('<x>').length; i++){
                            reports +=`<div class="input-group">
                                <span class="form-control" id="basic-url" aria-describedby="basic-addon3">${result[x].fields.production.split('<x>')[i]}</span>
                            </div>`
                        }
                        reports+='</div></h6>';
                }
                $(reports).insertAfter($('.reports'))
                // Akordion menu
                $(".tab_title:first").addClass("active");
                $(".tab_list:not(:first)").hide();
                $(".tab_content").hide();
                $(".tab_title").click(function(){
                    $(".tab_title").removeClass("active");
                    $(this).addClass("active");
                    $(".tab_content").slideUp();
                    $(this).find(".tab_content").stop().slideToggle();
                });
            }
        })
    })

    
</script>
{% endblock %}

