{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xl-7 col-lg-11 col-md-12">
        <div class="card">
            <h5 class="card-header">Profile</h5>
            <div class="card-body">
                <div class="media">
                    <div class="media-left w-25 mr-3 d-none d-md-block">
                        <img src="{{ user.get_image_or_default }}" class="img-rounded" alt="user-image" style="width:100%" />
                    </div>
                    <div class="media-body">
                        <ul class="list-group">
                            <li class="list-group-item p-1"><i class="fas fa-caret-right fa-lg"></i> {{ user.get_full_name }}</li>
                            <li class="list-group-item p-1"><i class="fas fa-caret-right fa-lg"></i> {{ user.email }}</li>
                            <li class="list-group-item p-1"><i class="fas fa-caret-right fa-lg"></i> {{ user.firm }}</li>
                            <li class="list-group-item p-1"><i class="fas fa-caret-right fa-lg"></i> {{ user.phone }}</li>
                            <li class="list-group-item p-1"><i class="fas fa-caret-right fa-lg"></i> {{ user.address }}</li>
                        </ul>
                        <a href="{% url 'user:profile_update' user.pk %}" class="btn btn-info mt-2">Profile Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
{{ request_dir }}
<hr/>
{{ userWorksiteAll }}


{% endblock %}
