{% extends 'base.html' %}
{% block lobby %}

<div class="row">
    <div class="col-md-5 mx-auto">

        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your user doesn't have access to this page. To proceed,
            please login with an user that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}


        <div class="card">
            <h5 class="card-header"><i class="fas fa-sign-in-alt"></i> Login</h5>
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-group" style="margin-bottom:1px">
                            <span class="input-group-addon" id="basic-addon3" style="width:150px; text-align:left; padding:0px;">{{ field.label_tag }} </span>
                            <span class="form-control" id="basic-url" aria-describedby="basic-addon3" style="padding:2px;">{{ field }}</span>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-info button"><i class="fas fa-angle-right"></i> Login <i class="fas fa-angle-left"></i></button>
                </form>
                <a href="{% url 'user:password_reset' %}" class="btn btn-outline-danger button">Forgot Password?</a>
            </div>
        </div>


    </div>
</div>

{% endblock %}
